<ion-view view-title="Bible">
  <ion-content>
    <ion-list ng-repeat="book in books track by $index">
      <ion-item ng-click="openChapter()">
        <h2>{{book.ENG}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
