<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>

    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
      </ion-nav-buttons>
    </ion-nav-bar>


    <!-- tabs -->
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">

      <!-- Sermons Tab -->
      <ion-tab title="Sermons" icon-off="ion-ios-mic" icon-on="ion-ios-mic" href="#/tab/sermons">
        <ion-nav-view name="tab-sermons"></ion-nav-view>
      </ion-tab>

      <!-- Events Tab -->
      <ion-tab title="Events" icon-off="ion-speakerphone" icon-on="ion-speakerphone" href="#/tab/events">
        <ion-nav-view name="tab-events"></ion-nav-view>
      </ion-tab>

      <!-- Church Info Tab -->
      <ion-tab title="Church Info" icon-off="ion-ios-information" icon-on="ion-ios-information" href="#/tab/churchInfo">
        <ion-nav-view name="tab-churchInfo"></ion-nav-view>
      </ion-tab>

      <!-- Account Tab -->
      <ion-tab title="About Us" icon-off="ion-ios-people" icon-on="ion-ios-people" href="#/tab/aboutUs">
        <ion-nav-view name="tab-aboutUs"></ion-nav-view>
      </ion-tab>

    </ion-tabs>


  </ion-side-menu-content>

  <!-- Side Menu (left) -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="openView('bible')">
          Bible
        </ion-item>
        <ion-item menu-close ng-click="openView('tab.events')">
          Settings
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
