<ion-view view-title="Sermon Detail">
  <ion-content>

<video  controls>
  <source src="{{videoUrl}}" type:"video/mp4" >
</video>


<h2>Title : {{passedData.name}} </h2>
<h2> Description of sermons </h2>
{{passedDate.description}}



  </ion-content>
</ion-view>
