<ion-view view-title="Events">
  <ion-content>

     <ion-list ng-repeat = "event in eventList">
      <ion-item ng-click = "openView()">
        <ion-thumbnail item-left>
          <img src="{{event.img}}">
        </ion-thumbnail>
        <h2>{{event.title}}</h2>
        <p>{{event.speaker}} • {{event.date}}</p>
        <button clear item-right>View</button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
