<ion-view view-title="Sermons">
  <ion-content>
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>


    <ion-list ng-repeat="sermon in sermonList track by $index">
      <ion-item ng-click="openView($index)">
        <div class='row'>
          <div class='col'>
            <ion-thumbnail item-left>
             <img src="{{sermon.pictures.sizes[0].link}}">
            </ion-thumbnail>
          </div>
          <div class='col'>
            <h2 item-right>{{sermon.name}}</h2>
            <p>{{ sermon.created_time | date : "mediumDate" }}</p>
          </div>
        </div>
      </ion-item>
    </ion-list>


    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadmore()" distance="1%"></ion-infinite-scroll>

  </ion-content>
</ion-view>
