<ion-view view-title="Church Info">
  <ion-content>

<!--map  -->

  <h3>Location</h3>
<br>
<div>
  MacArther Blvd Baptist Church<br>
  8001 Mustang Dr.<br>
  Irving, Texas 75063<br>
  Ph. 972.373.9833<br>
  fax 972.373.9826<br>
</div>
<br>
<h3>Office Hours</h3>
<br>
<div>
  Mon. - Thurs.<br>
  8 am - 4:30 pm<br>
  Closed Fridays<br>
</div>
<br>
<h3> Ask Us!</h3>

 <div id="map" style="width:100%; height:400px;" scroll="false" data-tap-disabled="true"></div>


  <div class="list">
  <label class="item item-input">
    <input ng-model="emailData.name" type="text" placeholder="Name"> {{emailData.name}}
  </label>
  <label class="item item-input">
    <input ng-model="emailData.email" type="email" placeholder="Email">{{emailData.email}}
  </label>
  <label class="item item-input">
    <input ng-model="emailData.phone" type="tel" placeholder="Phone">{{emailData.phone}}
  </label>
  <label class="item item-input">
    <textarea ng-model="emailData.message" type= "textarea" placeholder="Message"></textarea>{{emailData.message}}
  </label>
</div>
<button ng-click = "emailFunction()">Send email</button>

  </ion-content>
</ion-view>
